.text {
  text-decoration: none;
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
}
.logo .text {
  display: flex;
  align-items: center;
}
.logo .text .logoName {
  color: var(--color-1);
  font-size: var(--fs-700);
  text-align: center;
}
.logo .text .icon1 {
  display: flex;
  align-items: center;
}
.btn {
  cursor: pointer;
  display: flex;
  color: var(--color-1);
  align-items: center;
}
.hidden {
  opacity: 0;
}
.barbtn {
  position: relative;
  /* right: 145px; */
  color: var(--color-1);
  cursor: pointer;
}
